td:last-of-type:not(:first-child) {
    display: flex;
    justify-content: space-between;
}

tr .table-options {
    display: flex;
    opacity: 0;
}

tr:hover .table-options {
    opacity: 1;
}

.table-options > * {
    cursor: pointer;
    margin: 0 3px;
}

.vertical-padding {
    padding-top: 15%;
}