.tr-table-options {
    text-align: right;
    width: 60px;
    padding-right: 4px !important;
    padding-left: 0 !important;
}

tr .table-options {
    display: none;
}

tr:hover .table-options {
    display: inline;
}

.table-options i {
    cursor: pointer;
}